:root{
  --primary: #d200fa;
  --primary-varient: #3700B3;
  --secondary :#03DAC5;
  --item-background: #121212;
  --item-background2:#2f2f2f;
  --error: #CF6679;
  --background: #292929;
  
  

                                                                                
}
html, body {
  font-family: 'Roboto Mono', monospace !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: var(--item-background) !important; 
  margin-bottom: 0 !important;
}
.navbar-brand {
  color: #fff !important;
}
.navbar-link {
  color: #fff !important;
}
.history_panel {
  width: 100%;
  height: 5em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.history_table-wrapper {
  position: relative;
  padding: 1em;
  display: grid;
  place-items: center;
  height: calc(100vh - 10em) !important;
  clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 93%, 0 0);
  z-index: 1 !important;
}
.historyPage .history_table-wrapper {
  background-color: var(--item-background);
}
.history_table-wrapper:before {
  content: "";
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 93%, 0 0);
  width: 28%;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--primary);
}
.history_table {
  position: relative;
  width: 95%;
  height: 95%;
  margin: auto;
  border-radius:  0 0 15px 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--item-background2);
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
.empty_data_message {
  position: absolute;
  color: var(--primary-varient);
  top: 50%;
  width: 100%;
  height: 3em;
  font-size: 2em;
  font-weight: 900;
}
.history_table::-webkit-scrollbar {
  display: none !important;
}

table {
  table-layout: fixed !important;
  background-color: var(--item-background2) !important;

}
.history_table thead, th {
  background-color: var(--item-background) !important;
}
.history_table th {
  position: sticky;
  top: -1px;
}
.history_table tr, td {
  background-color: var(--item-background2) !important;
  border: 1px solid var(--item-background)
}
.table>:not(:first-child) {
   border-top: 2px solid var(--item-background2); 
}
.fa-trash-alt {
  color: var(--error);
}
.cursor {
  cursor: pointer;
}
.homepage .history_table-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.homepage  .charts {
  position: absolute;
  top: 200px;
  left: 5%;
  width: 40em;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.chart-card {
  background-color: var(--item-background2);
  border-radius:15px;
  z-index: 2;
  width: 100%;
  height: 220px;
  color: #ffffff !important;
  padding: 0 1em;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
  
}
.chart-gauge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chart-title {
  color: var(--primary);
  font-weight: 900;
  text-align: left;

}
.dygraph-title {
  display: none;
}
.netdata-legend-value {
  background-color: var(--item-background2) !important;
}
.netdata-legend-toolbox {
  display: none !important;
}
.netdata-legend-resize-handler {
  display: none !important;
}
.chart-card  div {
  margin: auto;
}

.vertical-timeline-element-text {
  text-align: left;
  font-size: 0.8em !important;
}
.timeLine-container {
  background-color: var(--item-background);
  width: 100%;
  height: 80%;
  padding: 1em;
  display: grid;
  place-items: center;
  clip-path: polygon(13% 0, 100% 0, 100% 83%, 86% 100%, 0 100%, 0 19%);
  overflow-y: scroll;

}
table, tr, th 
{
  border: none !important;
}
 tbody tr >  td {
  border: none !important;
}
tbody tr  {
  border-bottom: 1px solid var(--item-background) !important;
}
.timeLine-nodata {
  color: var(--primary-varient);
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
@media only screen and (max-width: 1024px)
{
  .vertical-timeline-element-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .vertical-timeline-element-content h4 {
    font-size: 1em;
  }
  .vertical-timeline-element-text {
    margin-top: 0 !important;
  }
  .vertical-timeline-element-date {
    position: absolute;
    top: 100%;
  }
}
.fa-times-circle {
  color: #ff002d;
  margin-right: 0.4em;
}
.realTime-view {
  width: 70%;
  height: 100%;
}
.realTime-view h3 {
  color: var(--primary);
  font-weight: 900;

}
.actions-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
}